/* .mainContainer{
    width: 100vw;
    height: 120vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 0.3rem;
    padding: 10rem;
    overflow: hidden;
    border: 1px solid blue;
}

.leftContainer{
    height: 100vh;
    background-image: url("../assets/image.jpg");
    background-repeat: no-repeat;
    border-radius: 10px;
    padding: auto 200rem;
    border: 2px solid yellow;
}

.leftTop{
  padding: 3rem; 
  text-align: center;
  color: #fff;
}

.leftTitlePara{
    font-size: 14px;
    text-align: center;
}

.leftBottom{
    margin-top: 300px;
    text-align: center;
    color: #fff;
}




.rightContainer{
    height: 50vh;
   border: 1px solid blue;
}

.rightHeading{
    text-align: center;
    margin-bottom: 20px;
}

.formBtn{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.leftBtns, .rightBtns{
    padding: 10px 50px;
    border-radius: 5px;
    outline: none;
    border: none;
    font-size: 18px;
    font-weight: 400;
}

.leftBtns{
    background-color: #3a86ff;
    color: #fff;
}

.rightBtns{
    color: #ccc;
}

.formContainer{
   
}

.emailId{
    font-size: 18px;
    font-weight: 500;
}

.inputField{
    width: 100%;
    padding: 10px;
    margin-top: 1rem;
    border: 0.1rem solid #90e0ef;
    outline: none;
    border-radius: 10px;
}

.boxPara{
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

.leftPass{
    font-size: 18px;
    font-weight: 500;
}

.rightPass{
    color: #ccc;
    border-bottom: 0.1rem solid #ccc;
}

.passPara{
    margin-top: 1rem;
    font-size: 13px;
    line-height: 30px;
}

.btn{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}

.sBtn{
    width: 100%;
    padding: 10px 20px;
    border-radius: 10px;
    outline: none;
    border: none;
    background-color: #3a86ff;
    color: #fff;
    font-size: 16px;
    font-family: 500;
}

.spanOr{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    color: #ccc;
}

.footerImg{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2rem;
}

.logos{
    font-size: 2rem;
    padding: 1.3rem 3rem;
    border-radius: 10px;
    border: 0.1rem solid #90e0ef;
} */


.mainContainer {
    display: flex;
    height: 100vh;
    padding: 1rem;
    gap: 18rem;
}

.leftContainer {
    background-image: url('../assets/blue.jpg');
    background-size: cover;
    color: #ffff;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 10px;
}

.leftTop {
  text-align: center;
}

.leftBottom{
    text-align: center;
}

.leftTitlePara {
    font-size: small;
}



.rightContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.3rem;
}

.rightInnerContainer{
   display: flex;
   justify-content: space-around; 
   flex-direction: column;
   font-size: 15px;
   gap: 1rem;
}

.innerForm{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.formBtn{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightblue;
    padding: 0.3rem;
    border-radius: 8px;
    /* border: 2px solid yellow; */
}

.rightBtns, .leftBtns{
    padding: 0.5rem 4rem;
    border-radius: 10px;
    font-size: 15px;
    border: none;
    outline: none;
}

.leftBtns{
    background-color: #3a86ff;
    color: #fff;
}

.rightBtns{
    color: #ccc;
}

.formContainer{
    font-size: 13px;
}

.emailId{
    font-size: 18px;
    font-weight: 500;
}

.inputField{
    width: 100%;
    padding: 0.6rem;
    border-radius: 6px;
    outline: none;
    border: 1px solid #90e0ef;
}

.boxPara{
    display: flex;
    justify-content: space-between;
}

.leftPass{
    font-size: 18px;
    font-weight: 500;
}

.rightPass{
    color: #ccc;
    border-bottom: 1px solid #ccc;
}

.paras{
    line-height: 1.5rem;
}

.btn{
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
}

.sBtn{
    width: 100%;
    padding: 0.6rem;
    border: none;
    outline: none;
    color: #fff;
    background-color: #3a86ff;
    border-radius: 8px;
}

.spanHead{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ccc;
}

.footerImg{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* gap: 9rem; */
    /* border: 2px solid red; */
    font-size: 30px;
}

.logos{
    padding: 1.3rem 3rem;
    border-radius: 4px;
    border: 1px solid #90e0ef;
}